body {
  color: #61443e;
  font-family:Monospace;
  font-size:13px;
  text-align:center;

  background-color: #bfd1e5;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
}

a {
  color: #a06851;
}

.score-board {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
}

.hit-score {
    position: relative;
    left: 10px;
    float: left;
    background-color: #222;
    border: 2px solid #eee;
    width: 46px;
    height: 46px;
    border-radius: 25px;
    text-align: center;
    line-height: 46px;
    font-size: 22px;
    color: lightgreen;
}

.total-score {
    top: 10px;
    position: relative;
    float: right;
    width: 146px;
    height: 36px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #eee;
    background-color: #222;
}

.total-score span {
    float: right;
    line-height: 25px;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 18px;
    text-align: right;
    color: lightgreen;
}

.level-link-container {
  list-style-type:none;
  position: absolute;
  bottom: 20px;
  width: 200px;
  right: 20px;
}

.level-link-container li {
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-right: 5px;
}

.level-link-container li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  border-radius: 3px;
  color: black;
}

.level-link-container li a:hover {
  background-color: #222;
  color: lightgreen;
}

.level-link-container li a.reset-button {
    width: 60px;
    margin-left: 60px;
}

/* toggle button */
.info {
  list-style-type:none;
  width: 122px;
  padding:0;
  position: absolute;
  left: 45%;
}

.info li {
  float:left;
 width:60px;
 height:22px;
 position:relative;
 text-align: center;
 line-height: 22px;
}

.info li.left label{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.info li.right label{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.info label, .info input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
}

.info input[type="radio"] {
 opacity:0.01;
 z-index:100;
}

 .info input[type="radio"] + label {
  background:#aaa;
  color: black;
 }

 .info input[type="radio"]:checked + label {
  background:#222;
  color: lightgreen;
 }

.info label {
  cursor:pointer;
  z-index:90;
}

.info label:hover {
  background:#DDD;
}

canvas {
  border: 1px solid black;
}