body {
  color: #61443e;
  font-family:Monospace;
  font-size:13px;
  text-align:center;

  background-color: #bfd1e5;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}

a {
  color: #a06851;
}

.score-board {
    position: absolute;
    right: 20px;
    font-size: 40px;
    top: 20px;
    color: red;
}

.level-link-container {
  position: absolute;
  top: 20px;
  width: 100%;
}

/* toggle button */
.info {
  list-style-type:none;
  width: 122px;
  padding:0;
  position: absolute;
  left: 50%;
}

.info li {
  float:left;
 width:60px;
 height:22px;
 position:relative;
 text-align: center;
 line-height: 22px;
}

.info li.left label{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.info li.right label{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.info label, .info input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
}

.info input[type="radio"] {
 opacity:0.01;
 z-index:100;
}

 .info input[type="radio"] + label {
  background:#aaa;
  color: black;
 }

 .info input[type="radio"]:checked + label {
  background:#222;
  color: lightgreen;
 }

.info label {
  cursor:pointer;
  z-index:90;
}

.info label:hover {
  background:#DDD;
}
